body {
    padding-top: 70px;
} 
.navbar-nav > li > .dropdown-menu { 
    background-color: #846f84; 
    color:white;
}

.navbar-nav > li > .dropdown-menu  a {  
    color:white;
}

.navbar-nav > li > .dropdown-menu  a:hover {  
    color:black;
}

h1{
    font-family:'Libre Baskerville';
}





.dropdown-toggle::after {
    transition: transform 0.2s ease; /* Adjust duration and easing as desired */
  }
  
  .dropdown-toggle.show::after {
    transform: rotate(180deg); /* Rotate 180 degrees to point down when expanded */
  }

  .dropdown-menu a:active {
    background-color: white;
    color: white; /* optional for contrast */
}



/* Apply font to all text inside the navbar */
.navbar {
  font-family: 'Poppins', sans-serif; /* or any other font you prefer */
}

/* Optional: you can specifically style the links if you want */
.navbar .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* optional for medium bold text */
  font-size: 16px;  /* adjust as needed */
}

.website{
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
}
.side-bar{
  font-family: poppins;
  max-width: 250px;
  width:250px;
  padding:2rem 1rem;
  background-color: #5b4b5b;
  overflow: auto;
  top:0;
  position:sticky;
  height: 100vh;
}
.side-bar h3{
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin:0.5rem;
}
.side-bar .menu{
  margin: 0 -1rem;
}

.personalWebsite{
  text-decoration: none;
  color: white;
}

.menu-item{
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.2s linear;
}

.menu-item:hover,
.menu-item.is-active{
  margin-left: 10px;
  color:white;
  border-right:5px solid pink;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 1001;
  justify-content: center;
  align-items: center;
}

.arrow-icon {
  display: flex;
  font-size: 20px;
  margin-top:0px;
  color: black;
  transition: transform 0.3s ease;
}

/* Rotate the arrow when active */
.menu-toggle.is-active .arrow-icon {
  -webkit-transform: scaleX(-3);
  transform: scaleX(-1);
}


@media (max-width:1024px){
  .side-bar{
    max-width: 150px;
    overflow-y: scroll;
  }
  .banner{
    object-fit: fit;
  }
}

@media (max-width:575px){
  .menu-toggle{
    display:block;
  }
  .side-bar{
    position:fixed;
    left: -300px;
    max-width:300px;
    transition: 0.2s linear;
    scrollbar-width: none;
    border: 1px solid #AAA;
    z-index: 1000;

  }
  .menu{
    height:15%;
    margin-right: -50px; /* Maximum width of scrollbar */
    padding-right: 50px; /* Maximum width of scrollbar */
  }
  .side-bar.is-active {
		left: 0;
    width:50%;
    overflow-x: hidden;
	}

  .content{
    padding-top:1rem;
    margin-left:0px;
    margin-right: 0px;
    padding-right: 0%;
  }
  
  
}
.banner{
  object-fit: cover;
}

.content p{
  font-size:22px;
  letter-spacing: 1px;
  text-align: justify;
}
.footer{
  background-color: #3c443f;
  z-index: 1;
}
.accordion-button:not(.collapsed) {
  color: white; /* or your preferred text color */
  background-color: #5b4b5b; /* or your preferred background */
}

.accordion-button {
  background-color: #5b4b5b;
  color: white;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Change accordion arrow color */
.accordion-button::after {
  filter: brightness(0) invert(1); /* Makes the default blue arrow white */
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: rgb(255, 255, 255); /* Your desired background color */
  color: #000000; /* Your desired text color */
}